@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Open+Sans:wght@400;600;700&family=Roboto+Mono:wght@200&display=swap");

* {
    font-family: "Nanum Gothic", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-family: "Roboto Mono", monospace;
}
.beige-background {
    background-color: #efe7db;
}
.none-bordertop {
    border-top: none;
}

.img-tag {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.logo-tag {
    width: 250px;
    height: 80px;
}
